@page "/"
@using fabsi.Dotnet.UI.Blazor.Server.Sample.Models
@* @inject IUserService _userService; *@

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<br />


<h2>User Formular</h2>
<form action="" @onsubmit="OnSubmit">
    @foreach (var field in FormFields)
    {
        <FormField Field="field" />
    }
    <button type="submit">Speichern</button>
</form>

@code
{
    public string Value { get; set; } = string.Empty;
    List<FormFieldModel> FormFields { get; set; } = new List<FormFieldModel>
    {
        new FormFieldModel
        {
            Name = "name",
            Validate = (value) => !string.IsNullOrWhiteSpace(value),
        },
        new FormFieldModel
        {
            Name = "ipAddress",
            Validate = (value) => !string.IsNullOrWhiteSpace(value),
        },
        new FormFieldModel
        {
            Name = "macAddress",
            Validate = (value) => !string.IsNullOrWhiteSpace(value),
        },
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void OnSubmit()
    {
        Console.WriteLine($"OnSubmit");
    }
}
